.o-titulo{
    margin-bottom: 0.8rem;
}

.o-subtitulo{
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
}

.o-unidades{
    border-bottom: 1.8px solid #E1E1E1;
    margin-bottom: 0.8rem;
}

.o-extras{
    border-bottom: 1.8px solid #E1E1E1;
    margin-bottom: 0.8rem;
}

.o-negrita{
    font-weight: bold;
}

.iz{
    text-align: left;
}

.der{
    text-align: right;
}