.o-registro-titulo{
    font-family: sans-serif;
    font-weight: 700;
    margin:2rem 0 2rem 0;
    }
    
    .o-check{
    display: flex;
    margin: 2rem 0 0 0;
    justify-content: center;
    /* margin-left: 20rem; */
    /* width: 20rem; */
    
    }
    .o-espacio{
    margin-right: 0.5rem;
    }
    .o-izq{
    margin-left: 12rem;
    
    }